body{
  background-color: #f0f2f5;
  padding-bottom: 112px;
  padding-top: 72px;
  font-family: Helvetica, Arial, sans-serif;
  color: #1c1e21;
}
.logo{
  padding: 112px 0 16px;
}
.logo img{
  height: 106px;
  margin: -28px;
}
h2{
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
}
p{
  border-top: none;
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 0;
  margin-top: 28px;
  text-align: center;
}
p a{
  color: #1c1e21 !important;
  font-weight: bold;
  text-decoration: none;
}
p a:hover{
  text-decoration: underline;
}
button{
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px !important;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
}
button:hover{
  background-color: #166fe5;
}
.botaoConta{
  background-color: #42b72a;
  border-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 17px !important;
  line-height: 48px;
  padding: 0 16px;
  font-weight: bold;
}
.botaoConta:hover{
  background-color: #36a420;
  border-color: #36a420;
}
form{
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px !important;
}
input::placeholder, input:-moz-placeholder{
  color: #90949c !important;
  opacity: 0.5 !important;
}
form input{
  font-size: 17px;
  padding: 14px 16px;
  height: 50px;
}
.criarPagina{
  width: 396px !important;
}
.esqueceuSenha{
  margin-top: 16px;
  font-size: 14px;
}
.esqueceuSenha a{
  text-decoration: none;
}
.esqueceuSenha a:hover{
  text-decoration: underline;
}
