body{
  background-color: #f0f2f5;
  padding-top: 72px;
  font-family: Helvetica, Arial, sans-serif;
  color: #1c1e21;
}
.conteudo{
  padding-bottom: 112px;
}
.logo{
  padding: 112px 0 16px;
}
.logo img{
  height: 106px;
  margin: -28px;
}
h2{
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
}
.texto{
  width: 500px;
}
p{
  border-top: none;
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-top: 0;
  margin-top: 28px;
  text-align: center;
}
p a{
  color: #1c1e21 !important;
  font-weight: bold;
  text-decoration: none;
}
p a:hover{
  text-decoration: underline;
}
button{
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px !important;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
}
button:hover{
  background-color: #166fe5;
}
.botaoConta{
  background-color: #42b72a;
  border-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 17px !important;
  line-height: 48px;
  padding: 0 16px;
  font-weight: bold;
}
.botaoConta:hover{
  background-color: #36a420;
  border-color: #36a420;
}
form{
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  width: 396px !important;
}
input::placeholder, input:-moz-placeholder{
  color: #90949c !important;
  opacity: 0.5 !important;
}
form input{
  font-size: 17px;
  padding: 14px 16px;
  height: 50px;
}
.criarPagina{
  width: 396px !important;
}
.esqueceuSenha{
  margin-top: 16px;
  font-size: 14px;
}
.esqueceuSenha a{
  text-decoration: none;
}
.esqueceuSenha a:hover{
  text-decoration: underline;
}
.paddingLogo{
  padding-right: 32px;
}
footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  padding-top: 20px;
}
footer ul{
  margin: 0 auto;
  width: 980px;
  color: #737373;
}
footer hr{
    width: 980px;
    margin: 0 auto;
    margin: 8px 0px 8px 0px;
}
footer ul li a{
  text-decoration: none;
  color: #737373;
  font-size: 12px;
}
footer ul li{
  font-size: 12px;
}
footer ul li a:hover{
  text-decoration: underline;
  color: #737373;
}
footer ul li button {
  border: 1px solid #8a8d91;
  border-radius: 2px;
  border-color: #ccd0d5;
  background-color: #f5f6f7;
  height: 18px;
  width: 30px;
  padding-bottom: 2px;
  color: #737373;
}
footer ul li button:hover{
  background-color: #ebedf0;
}
.privacidade{
  margin-right: 12px;
}
footer span{
  font-size: 11px;
  color: #737373;
}
.meta{
  width: 1005px;
}
@media only screen and (max-width: 576px){
  .paddingLogo{
    margin-left: 9vw;
  }
  .logo img{
      margin: -28px;
  }
  h2{
    font-size: 20px !important;
  }
  .texto{
    padding: 20px 0 28px;
    width: 396px !important;
  }
  footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  footer hr{
    width: 400px;
  }
  footer ul{
    width: 400px;
  }
  .privacidade{
    margin-left: 12px;
  }
  .escolhaAnuncios{
    margin-left: 0px !important;
  }
  footer span{
    margin-left: 23px;
  }
}
@media only screen and (max-width: 768px) {
  .paddingLogo{
    padding: 0;
  }
  .logo img{
      margin: -28px;
  }
  h2{
    font-size: 20px !important;
  }
  .texto{
    padding: 20px 0 28px;
    width: 396px !important;
  }
}
@media only screen and (max-width: 992px) {
  .paddingLogo{
    padding: 0;
  }
  .logo img{
      margin: -28px;
  }
  h2{
    font-size: 20px !important;
  }
  .texto{
    padding: 20px 0 28px;
    width: 396px !important;
  }
}
